<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CityBank" >
        <activity
            android:name=".BankTransferActivity"
            android:exported="false" />
        <activity
            android:name=".FavouriteAccountsActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".VisaInstantPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".VirtualCreditCardActivity"
            android:exported="false" />
        <activity
            android:name=".ValueAddedServicesActivity"
            android:exported="false" />
        <activity
            android:name=".BillsAndFeesActivity"
            android:exported="false" />
        <activity
            android:name=".BillsAndFees"
            android:exported="false" />
        <activity
            android:name=".InsuranceActivity"
            android:exported="false" />
        <activity
            android:name=".Insurance"
            android:exported="false" />
        <activity
            android:name=".RechargeActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MoreActivity"
            android:exported="false" />
        <activity
            android:name=".CardActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>